* {
  padding: 0;
  margin: 0;
}

body {
  background: #2d2d2d;
  font-family: system-ui;
}

h1 {
  color: rgb(176, 176, 176);
}

h2 {
  color: rgb(176, 176, 176);
}

p {
  color: white;
}

.text-orange {
  color: tomato;
}

#header {
  background: pink;
}
/* Selección por anidamiento */
.section-texts p {
  font-size: 2rem;
}
.section-texts article p {
  color: red;
}

.text-lg {
  font-size: 2rem;
}
/* Selección por agrupamiento */
/* .titles h3,
.titles h4,
.titles h5 {
  color: aqua;
} */

.title-aqua {
  color: aqua;
}

.title-lg {
  font-size: 2rem;
}
.title-md {
  font-size: 1rem;
}
.title-sm {
  font-size: 0.5rem;
}

/* segunda clase de css */
* {
  margin: 0;
  padding: 0;
}
body {
  background: #2d2d2d;
  font-family: system-ui;
  color: white;
  padding: 200px;
}
button {
  border: 0;
}
.box {
  background: tomato;
  width: 200px;
  height: 100px;
  margin: 24px;
  padding: 24px;
  border: 10px solid pink;
}
.box h3,
.box p {
  margin: 12px;
}

.btn-main {
  font-size: 1.4rem;
  background: black;
  color: white;
  /* 1: 4 lados */
  /* 2: 1 -> y , 2 -> x */
  /* 3: 1 -> arriba , 2 -> x, 3 -> abajo */
  /* 4: 1 -> arriba, 2 -> derecha, 3 -> abajo, 4-> izq */
  padding: 12px 30px;
  border-radius: 10px;
}
